<div class="landingpage-container">
  <div class="landing-container">
  <h1>Welcome to med3D</h1>
  <h3>Sign Up, Help Out</h3>
    <ul>
      <li><a href="/sessions/new">Log In</a></li>
      <li><a href="/users/new">New? Register Here!</a></li>
    </ul>
  </div>
  </div>

  