<div class="navbar">
    <ul>
        <li class="med3d">med3D</li>
        <li><a href="/">HOME</a></li>
        <li><a href="/new">ORDERS</a></li>
        <li><a href="/account">ACCOUNT</a></li>
    </ul>

    <div class="logout-cont">
        <form action="/sessions?_method=DELETE" method="POST">
            <input class="logout" type="submit" value="Log Out"/>
        </form>
    </div>

</div>