<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Med3D</title>
  </head>
  <body>
    <h1>Contact us</h1>
    <p>
      Thank you for using Med3D. Please provide us with some feedback so we can
      create a better experience for your next vist. Thank you!
    </p>
    <form action="">
      Email: <input type="text" name="email" /> <br />

      Description:
      <input type="text" name="description" /> <br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
