<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/app.css" />
  <title>Med 3D</title>
</head>

<body>
  <% if(!currentUser) { %>
            
    <%- include('../views/partials/login.ejs') %>
<% } else if (currentUser.role === "medical"){ %>
    <%- include('../views/partials/med_dash.ejs') %>
<% } else { %>
  <%- include('../views/partials/printer_dash.ejs') %>
<% } %>
   

<footer>
  <a href="/contactus">Contact Us</a>
</footer>

</body>


</html>