<!DOCTYPE html>
<html>

<head>
  
  
  <title>Med 3D</title>
</head>

<body>
  <h1>
    Welcome to Med 3D
  </h1>
  <h2>Sign Up, Help Out</h2>
  <BR>
  
    <ul>
      <li><a href="/sessions/new">Log In</a></li>
      <li><a href="/users/new">New? Register Here!</a></li>
    </u>
   

  

</body>

</html>