<!DOCTYPE html>
<html>
  <body>
    <h1>Create Order</h1>
    <form action="/orders" method="POST">
      Name: <input type="text" name="requestor_name" /><br />

      Product: <input type="text" name="product_name" /><br />

      Quantity: <input type="text" name="quantity" /> <br />

      Shipping Address: <input type="text" name="location" /><br />

      <input type="submit" name="" value="Submit Order" />
    </form>
  </body>
</html>
