<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Med3D</title>
  </head>
  <body>
    <h1>Orders for <%= orders.requestor_name %></h1>
    <h4>Product Ordered: <%= orders.product_name %></h4>
    <h4>Quantity: <%= orders.quantity %></h4>
    <h4>Shipping Address:</h4>
  </body>
</html>
