<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/app.css" />
  <title>Med 3D Sign In</title>
</head>

<body>
  <div class="landingpage-container">
    <div class="landing-container">
      <h1>Sign In</h1>
      <br>
      <form action="/sessions" method="POST">
        <div>
          <label for="username">Username</label>
          <div>
            <input class="form-control" type="text" name="username" autofocus required/><br />
          </div>
        </div>

        <div>
          <label for="password">Password</label>
          <div>
            <input type="password" name="password" required/><br />
          </div>
        </div>

        <div class="login-buttons">
          <input class="login" type="submit" value="Log In" />
          <a href="/">Back</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>